<!--Grid column-->
<div class="col-md-4 mb-4">
    <!-- Heading -->
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Keranjang kamu</span>
        <span class="badge rounded-pill badge-primary">{{ order.items.all.count }}</span>
    </h4>

    <!-- Cart -->
    <ul class="list-group mb-3">
        {% for belanjaan in order.items.all%}
        <li class="list-group-item d-flex justify-content-between">

            <div>
                <h6 class="my-0">{{ belanjaan.quantity }} x {{ belanjaan.item.title }}</h6>
                <small class="text-muted">{{ belanjaan.item.description|truncatechars:95 }}</small>
            </div>

            {% if belanjaan.item.discount_price %}
            <span class="text-muted">${{ belanjaan.get_total_discount_item }}
            {% else %}
            ${{ belanjaan.get_total_harga_item}}
            {% endif %}

        </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between">
            <span>Total belajaan</span>
            <strong class="text-success">${{ order.get_total_harga_order }}</strong>
        </li>
    </ul>
    <!-- Cart -->
</div>
<!--Grid column-->